<input type="text" readonly [ngModel]="displayValue" />
<button (click)="concatenateValue('1')">1</button>
<button (click)="concatenateValue('2')">2</button>
<button (click)="concatenateValue('3')">3</button>
<button (click)="concatenateValue('4')">4</button>
<button (click)="concatenateValue('5')">5</button>
<button (click)="concatenateValue('6')">6</button>
<button (click)="concatenateValue('7')">7</button>
<button (click)="concatenateValue('8')">8</button>
<button (click)="concatenateValue('9')">9</button>
<button (click)="concatenateValue('0')">0</button>
<button (click)="concatenateValue('.')">.</button>


<button (click)="processCalculation('add')">+</button>
<button (click)="processCalculation('subtract')">-</button>
<button (click)="processCalculation('divide')">/</button>
<button (click)="processCalculation('multiply')">*</button>
<button (click)="processCalculation('sqRoot')">sqRoot</button>
<button (click)="updateCurrentValue()">=</button>
<button (click)="clear()">C</button>
<button (click)="allClear()">AC</button>
