.case >* {
  outline: 1px solid red;
}

.case {
  margin: 0 auto;
  width: 39rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 18.5rem 18.5rem;
  grid-template-areas:
    "logo panel"
    "result result"
    "serial serial"
    "keys keys"
}

.logo {
  grid-area: logo;
}

.panel {
  grid-area: panel;
}

.result {
  grid-area: result;
}

.serial {
  grid-area: serial;
}

.keys {
  grid-area: keys;
}
