<input type="text" readonly [ngModel]="displayValue" />
<button (click)="concatenateValue('1')">1</button>
<button (click)="concatenateValue('2')">2</button>
<button (click)="concatenateValue('3')">3</button>
<button (click)="concatenateValue('4')">4</button>
<button (click)="concatenateValue('5')">5</button>
<button (click)="concatenateValue('6')">6</button>
<button (click)="concatenateValue('7')">7</button>
<button (click)="concatenateValue('8')">8</button>
<button (click)="concatenateValue('9')">9</button>
<button (click)="concatenateValue('0')">0</button>
<button (click)="concatenateValue('.')">.</button>


<button (click)="toggleSign()">+/-</button>
<button (click)="updatePrerequisites('add')">+</button>
<button (click)="updatePrerequisites('subtract')">-</button>
<button (click)="updatePrerequisites('divide')">/</button>
<button (click)="updatePrerequisites('multiply')">*</button>
<button (click)="updatePrerequisites('sqRoot'); updateCurrentValue()">sqRoot</button>
<button (click)="updateCurrentValue()">=</button>
<button (click)="clear()">C</button>
<button (click)="allClear()">AC</button>
