.case {
  margin: 0 auto;
  width: 32rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 15rem 15rem;
  grid-template-areas:
    "logo panel"
    "result result"
    "serial serial"
    "keys keys"
}

.logo {
  grid-area: logo;
}

.panel {
  grid-area: panel;
}

.result {
  grid-area: result;
}

.serial {
  grid-area: serial;
}

.keys {
  grid-area: keys;
}

c-button {
  display:flex;
  justify-content: center;
}

.serial c-button:not(:last-child) {
  margin-right: 1.5rem;
}
