<div class="case">
  <div class="logo"></div>
  <div class="panel">
    <div class="panel__face"></div>
  </div>
  <div class="result">
    <div class="result__wrapper">
      <input class="result__display" type="text" readonly [ngModel]="displayValue" />
    </div>
  </div>
  <div class="serial"></div>
  <div class="keys"></div>
</div>


<button (click)="updateExpression('1')">1</button>
<button (click)="updateExpression('2')">2</button>
<button (click)="updateExpression('3')">3</button>
<button (click)="updateExpression('4')">4</button>
<button (click)="updateExpression('5')">5</button>
<button (click)="updateExpression('6')">6</button>
<button (click)="updateExpression('7')">7</button>
<button (click)="updateExpression('8')">8</button>
<button (click)="updateExpression('9')">9</button>
<button (click)="updateExpression('0')">0</button>
<button (click)="updateExpression('.')">.</button>

<!--
<button (click)="toggleSign()">+/-</button>
<button (click)="updatePrerequisites('add')">+</button>
<button (click)="updatePrerequisites('subtract')">-</button>
<button (click)="updatePrerequisites('divide')">/</button>
<button (click)="updatePrerequisites('multiply')">*</button>
<button (click)="updatePrerequisites('sqRoot'); updateCurrentValue()">sqRoot</button>
<button (click)="updateCurrentValue()">=</button>
<button (click)="clear()">C</button>
<button (click)="clearAll()">AC</button>
<button (click)="readFromMemory()">MR</button>
<button (click)="clearMemory()">MC</button>
<button (click)="memorySettingHandler()">M+</button>
<button (click)="memorySubtract()">M-</button> -->


<!-- <button (click)="toggleSign()">+/-</button> -->
<button (click)="updateExpression('+')">+</button>
<button (click)="updateExpression('-')">-</button>
<button (click)="updateExpression('/')">/</button>
<button (click)="updateExpression('*')">*</button>
<button (click)="calculate('sqRoot');">&radic;</button>
<button (click)="equals()">=</button>
<button (click)="clear()">C</button>
<button (click)="clearAll()">AC</button>
<button (click)="readFromMemory()">MR</button>
<button (click)="clearMemory()">MC</button>
<button (click)="memorySettingHandler()">M+</button>
<button (click)="memorySubtract()">M-</button>
