$case: #D0CFD4;
$dark-grey: #525463;
$black: #000;
$white: #fff;
$button-colour1: #797b84;
$button-colour2: #3e3e46;
$button-colour3: #36363e;
$button-colour4: #424348;
$button-colour5: #797b84;
$button-alt-colour1: #a87586;
$button-alt-colour2: #955468;
$button-alt-colour3: #925769;
$button-alt-colour4: #9a6577;
$button-alt-colour5: #7c5363;
$button-list: $button-colour1 0%, $button-colour2 4%, $button-colour3 52%, $button-colour4 97%, $button-colour5 100%;
$button-alt-list: $button-alt-colour1 0%, $button-alt-colour2 4%, $button-alt-colour3 52%, $button-alt-colour4 97%, $button-alt-colour5 100%;
$display: #D4E2E3;
$display-accent: #5E626B;
$display-font: 'alarmClock', sans-serif;
$panel: #321600;
$panel-accent: #28252E;
$panel-hightlight: #7E7A88;
//Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#797b84+0,3e3e46+4,36363e+52,424348+97,797b84+100 */
// Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a87586+0,955468+4,925769+52,9a6577+97,7c5363+100 */
