$case: #D0CFD4;
$dark-grey: #525463;
$black: #000;
$white: #fff;
$button: #22252C;
$alt-button: #8E3F5C;
$display: #D4E2E3;
$display-accent: #393A4C;
$panel: #180F10;
$panel-accent: #28252E;
$panel-hightlight: #7E7A88;
